
@use '@/styles/mixins.scss';

.hero {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
  display: flex;
  flex-direction: column;
  position: relative;
}

.hero__container {
  position: relative;
  z-index: 2;
  flex: 1;
  padding: 6.5% 2.5% 6%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero__heading {
  color: #fcf5eb;
}

.hero__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.hero__text {
  width: 60%;
  line-height: 1.92vw;
}

p {
  color: #fcf5eb;
}

/* Адаптив для мобильных */
@media (max-width: 768px) {
  .hero__container {
    padding: 18.91% 4.98%;
    justify-content: flex-start;
  }

  .hero__heading {
    font-size: 7.96vw;
  }

  .hero__text p {
    font-size: 3.73vw;
  }

  .hero__text {
    width: 100%;
    line-height: 1.5;
  }

  .hero__content {
    flex-direction: column;
    align-items: flex-start;
  }
}