@import '@/styles/mixins.scss';

.why {
  padding: 2.08vw 8.4375vw;
  background-color: $every;
}

.why__title {
  margin-bottom: 2.08vw;
}

.why__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.3125vw;
}

.why__card {
  position: relative;
  padding: 1.041667vw;
  height: 44.0625vw;
  background: url('@/assets/images/why__bg.png') no-repeat center center;
  background-size: cover;
  opacity: 1;
  cursor: pointer;
}

.why__card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #F6BC73 5%, #F39A6C 43%, #916AAA 100%);
  transition: opacity 1.5s ease;
  opacity: 1;

}

.why__card:not(.why__card--violet):hover::before {
  opacity: 0;
}

.why__card--violet {
  background: $violet;
}

.why__card--violet::before {
  display: none;
}

.why__card-content {
  position: relative;
}

.why__card-number {
  font-family: 'Oswald', sans-serif;
  color: $every;
  font-size: 20.83vw;
  text-align: center;
  font-weight: 300;
  line-height: 30.89vw;
}

.why__card-description {
  padding: 0 2.08vw 2.08vw 2.08vw;
}

.why__card-text {
  font-size: 1.25vw;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  line-height: 1.3;
  color: #fff;
}

.why__card-button {
  margin-bottom: 0.83vw;
}
@media (max-width: 768px) {
  .why {
    padding: 9.95vw 4.98vw; /* 40px и 20px при 402px */
  }

  .why__title {
    margin-bottom: 3.98vw; /* 16px при 402px */
    font-size: 7.96vw; /* 32px при 402px */
  }

  .why__cards {
    grid-template-columns: 1fr; /* Карточки друг под другом */
    gap: 3.98vw; /* 16px при 402px */
  }

  .why__card {
    padding: 4.98vw; /* 20px при 402px */
    height: auto; /* Адаптивная высота */
  }

  .why__card-number {
    font-size: 50vw; /* Уменьшенный размер для номера, ~200px при 402px */
    line-height: normal;
  }

  .why__card-description {
    padding: 0 4.98vw 4.98vw 4.98vw; /* 20px при 402px */
  }

  .why__card-text {
    font-size: 5.97vw; /* 24px при 402px */
    line-height: 1.5;
  }

  .why__card-button {
    margin-bottom: 3.98vw; /* 16px при 402px */
    font-size: 4.98vw; /* 20px при 402px */
  }
}