
@use "@/styles/mixins.scss";

.why {
  padding: 2.08vw 8.4375vw;
  background-color: #fcf5eb;
}

.why__title {
  margin-bottom: 2.08vw;
}

.why__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.3125vw;
}
.why__card {
  position: relative;
  padding: 1.041667vw;
  height: 44.0625vw;
  cursor: pointer;
  overflow: hidden;
}

.why__card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit; /* Наследуем background-image от родителя */
  background-size: cover;
  background-position: center;
  filter: blur(1px) brightness(0.5);
  z-index: 0;
}

.why__card-content {
  position: relative;
  z-index: 1;
  height: 100%;
}

.why__card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #f6bc73 5%, #f39a6c 43%, #916aaa 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: opacity 1.5s ease;
  opacity: 1;
}

.why__card:hover .why__card-overlay,
.why__card.visible .why__card-overlay {
  opacity: 0;
}

.why__card-number {
  font-family: "Oswald", sans-serif;
  color: #fcf5eb;
  font-size: 20.83vw;
  text-align: center;
  font-weight: 300;
  line-height: 30.89vw;
}

.why__card-heading {
  font-size: 1.25vw;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0.83vw;
  text-align: center;
}

.why__card-text {
  font-size: 1vw;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  line-height: 1.3;
  color: #fff;
}

.why__card-list {
  list-style: none;
  padding: 0;
  margin: 0;
  list-style: disc;
  padding-left: 1vw; /* ≈ 20px */
}

.why__card-description {
  padding: 0 2.08vw 2.08vw 2.08vw;
}

.why__card-list-title {
  font-weight: bold;
}

.bold {
  font-weight: 700;
}

@media (max-width: 768px) {
  .why {
    padding: 9.95vw 4.98vw; /* ≈ 40px, ≈ 20px */
  }

  .why__title {
    margin-bottom: 3.98vw; /* ≈ 16px */
    font-size: 5.97vw; /* ≈ 24px */
  }

  .why__cards {
    grid-template-columns: 1fr; /* Карточки друг под другом */
    gap: 3.98vw; /* ≈ 16px */
  }

  .why__card {
    padding: 2.99vw; /* ≈ 20px */
    min-height: 146.52vw; /* Адаптивная высота */
  }

  .why__card-number {
    font-size: 50vw; /* ≈ 200px */
    line-height: normal;
  }

  .why__card-description {
    padding: 0; /* ≈ 20px */
  }

  .why__card-heading {
    font-size: 5.97vw; /* ≈ 24px */
    margin-bottom: 3.98vw; /* ≈ 16px */
  }

  .why__card-list {
    padding-left: 3.98vw; /* ≈ 20px */
    list-style: disc;
  }

  .why__card-text {
    font-size: 2.99vw; /* ≈ 20px */
    line-height: 1.5;
  }
}
