@font-face {
  font-family: 'Oswald'; /* Исправлено название */
  src: url('../assets/fonts/Oswald-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 800; /* Диапазон весов для переменного шрифта */
  font-style: normal;
  font-display: swap; /* Рекомендуется для оптимизации загрузки */
}

@font-face {
  font-family: 'Inter'; /* Исправлено название */
  src: url('../assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 200 800; /* Диапазон весов для переменного шрифта */
  font-style: normal;
  font-display: swap; /* Рекомендуется для оптимизации загрузки */
}

.every {
  color: #fcf5eb;
}
.white {
  color: white;
}

h1 {
  font-family: 'Oswald', sans-serif; /* Добавлен запасной шрифт */
  font-weight: 500; /* Укажите нужный вес */
  font-size: 4.17vw;
  width: 100%;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  line-height: 126%;
}
h2 {
  margin: 0;
  font-family: 'Oswald', sans-serif; /* Добавлен запасной шрифт */
  font-weight: 400; /* Укажите нужный вес */
  font-size: 3.33vw;
    text-align: center;
  text-transform: uppercase;
}
h3 {
  font-family: 'Oswald', sans-serif; /* Добавлен запасной шрифт */
  font-weight: 400; /* Укажите нужный вес */
font-size: 1.88vw; /* 36px / 1920px ≈ 1.875% - 0.625% = 1.25vw */
  text-transform: uppercase;
}
p {
  font-family: 'Inter', sans-serif; /* Добавлен запасной шрифт */
  font-weight: 200; /* Укажите нужный вес */
font-size: 1.25vw;  /* 24px / 1920px ≈ 1.25% - 0.521% = 0.729vw */
}