@use './mixins.scss';
@use '../components/guest-content/section-hero/Hero.scss';
@use '../components/HeaderApp/HeaderApp.scss';
@use '../components/guest-content/section-contests/sectionContest.scss';
@use '../components/guest-content/section-reviews/sectionReviews.scss';
@use '../components/guest-content/section-group/sectionGroup.scss';
@use '../components/guest-content/section-why/sectionWhy.scss';
@use '../components/modals/modal-styles.scss'
