$every: #FCF5EB;
$grey: #262626;
$violet: #8C66AD;



// buttons
.button-1 {
  padding: 0.9375vw 1.25vw; /* 18px и 24px при 1920px */
  height: 4.06vw;
  background-color: #ffffff00;
  border: 0.15vw solid white; /* 2px при 1920px */
  color: white;
  border-radius: 0.52vw; /* 10px при 1920px */
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
 font-size: 1.67vw; /* 32px при 1920px */
  text-transform: uppercase;
}

.button-2 {
  padding: 0.94vw 1.25vw; /* 18px и 24px при 1920px */
  height: 4.06vw;
  background-color: #ffffff00;
  border:  0.15vw solid white; /* 2px при 1920px */
  color: white;
  border-radius: 0.26vw; /* 5px при 1920px */
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  font-size: 1.25vw; /* 24px при 1920px */
  white-space: nowrap;
}

.button-3 {
  height: min-content;
  background-color: #ffffff00;
  border: none;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.25vw; /* 24px при 1920px */
}



