.contest {
  padding: 5.93% 15.10%;
  color: $grey;
  background-color: $every;
}

.contest__title {
  margin-bottom: 3.333333vw; /* 64px */
}

.contest__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.666667vw; /* 32px */
  list-style: none;
  padding: 0;
}

.contest__card {
  flex: 1 1 calc(25% - 0.729167vw); /* 14px */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  transition: transform 0.3s ease; /* Плавный переход для зума */
}

.contest__card:hover {
  transform: scale(1.02); /* Увеличение на 5% */
}

.contest__img-element {
  margin-top: 0;
  width: 100%;
  object-fit: cover;
  display: block;
  margin-bottom: 1.25vw; /* 24px */
  height: 13.020833vw; /* 250px */
  border-radius: 0.833333vw; /* 16px */
}

.contest__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contest__text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.520833vw; /* 10px */
}

.contest__heading {
  font-family: 'Oswald', sans-serif;
  font-size: 1.25vw; /* 24px */
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: bold;
  margin-bottom: 0.260417vw; /* 5px */
}

.contest__date {
  font-family: 'Inter', sans-serif;
  white-space: nowrap;
  font-size: 0.833333vw; /* 16px */
  font-weight: 400;
}

.contest__button {
  display: flex;
  align-items: center;
  gap: 0.520833vw; /* 10px */
  cursor: pointer;
}

.contest__button-element {
  font-family: 'Inter', sans-serif;
  color: #252525;
  opacity: 0.4;
  background-color: #ffffff00;
  font-size: 1.041667vw; /* 20px */
  border: none;
  padding: 0;
}

.contest__button-icon {
  background: url('@/assets/images/strelka.svg');
  background-size: contain;
  width: 1.354167vw; /* 26px */
  height: 1.354167vw; /* 26px */
  opacity: 0.4;
}
