.contest {
  padding: 5.93% 15.10%;
  color: #262626;
  background-color: #fcf5eb;
}

.contest__title {
  margin-bottom: 3.333333vw;
}

.contest__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.666667vw;
  list-style: none;
  padding: 0;
}

.contest__card {
  flex: 1 1 calc(25% - 0.729167vw);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

.contest__card:hover {
  transform: scale(1.02);
}

.contest__img-element {
  width: 100%;
  height: 13.020833vw;
  object-fit: cover;
  margin-bottom: 1.25vw;
  border-radius: 0.833333vw;
}

.contest__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contest__text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.520833vw;
}

.contest__heading {
  font-family: 'Oswald', sans-serif;
  font-size: 1.25vw;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.260417vw;
}

.contest__date {
  font-family: 'Inter', sans-serif;
  white-space: nowrap;
  font-size: 0.833333vw;
  font-weight: 400;
}

.contest__button {
  display: flex;
  align-items: center;
  gap: 0.520833vw;
}

.contest__button-element {
  font-family: 'Inter', sans-serif;
  color: #252525;
  opacity: 0.4;
  background: transparent;
  font-size: 1.041667vw;
  border: none;
  padding: 0;
}

.contest__button-icon {
  background: url('@/assets/images/strelka.svg') no-repeat;
  background-size: contain;
  width: 1.354167vw;
  height: 1.354167vw;
  opacity: 0.4;
}

/* Адаптив */
@media (max-width: 768px) {
  .contest {
    padding: 4.975vw;
  }
  .contest__title {
    font-size: 5.97vw;
    margin-bottom: 7.96vw;
  }
  .contest__card {
    flex: 1 1 100%;
    margin-bottom: 3vw;
  }
  .contest__heading {
    font-size: 4.975vw;
  }
  .contest__img-element {
    width: 90.05vw;
    height: 39.30vw;
    border-radius: 3.98vw;
  }
  .contest__text {
    flex-direction: column;
  }
  .contest__date {
    font-size: 3.483vw;
  }
  .contest__button-element {
    font-size: 4.975vw;
  }
  .contest__button-icon {
    width: 5.97vw;
    height: 5.97vw;
  }
}