.contest {
  padding: 5.93% 15.10%;
  color: $grey;
  background-color: $every;
}

.contest__title {
  margin-bottom: 64px;
}

.contest__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  list-style: none;
  padding: 0;
}

.contest__card {
  flex: 1 1 calc(25% - 14px);

  display: flex;
  flex-direction: column;
  box-sizing: border-box;

}

.contest__img-element {
  margin-top: 0;
  width: 100%;
  object-fit: cover;
  display: block;
  margin-bottom: 24px;
  height: 250px;
  border-radius: 16px;
}

.contest__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contest__text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.contest__heading {
  font-family: 'Oswald', sans-serif; /* Добавлен запасной шрифт */
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: bold;
  margin-bottom: 5px;
}

.contest__date {
  font-family: 'Inter', sans-serif;
 white-space: nowrap;
  font-size: 16px;
   font-weight: 400;
}

.contest__button {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

}

.contest__button-element {
  font-family: 'Inter', sans-serif;
  color: #252525;
  opacity: 0.4;
  background-color: #ffffff00;
  font-size: 20px;
  border: none;
  padding: 0;
}

.contest__button-icon {
  background: url('@/assets/images/strelka.svg');
  width: 26px;
  height: 26px;
  opacity: 0.4;
}